// structure

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: helvetica, sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	color: #333333;
	background-color: #e5e5e5;
}

#root {
	height: 100vh;
	width: 100vw;
	display: grid;

	> p {
		height: fit-content;
		width: 100%;
		margin: 0;
		place-self: center;
		text-align: center;
		vertical-align: middle;
		font-size: 18px;
	}
}

main {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 80px 125px auto;

	h1 {
		grid-row: 1;
		margin: auto;
		place-self: center;
		user-select: none;
	}

	.params {
		height: 100%;
		width: 600px;
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 50% 50%;
		place-self: center;

		> div {
			height: fit-content;
			width: fit-content;
			place-self: center;
			margin: 5px;

			p {
				height: fit-content;
				width: 100%;
				margin: 0 5px 5px 5px;
				font-weight: bold;
				text-align: center;
				vertical-align: middle;
				user-select: none;
			}
		}

		@media (max-width: 632px) {
			grid-template-rows: 50% 50%;
			grid-template-columns: 100%;
			width: 95%;
		}
	}

	.p5-container {
		height: min(calc(100vh - 225px), 90vw);
		width: min(calc(100vh - 225px), 90vw);
		grid-row: 3;
		place-self: center;
		margin: 0 0 20px 0;
		user-select: none;
	}
}
